extends base
include _reviewCard

block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet')

mixin overviewBox(label, text, icon)
  .overview-box__detail
    svg.overview-box__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
    span.overview-box__label= label
    span.overview-box__text= text

block content
  section.section-header
    .header__hero
      .header__hero-overlay &nbsp;
      img.header__hero-img(src=`/img/stadiums/${stadium.imageCover}`, alt=`${stadium.name}`)

    .heading-box
      h1.heading-primary
        span= `${stadium.name} stadium`
      .heading-box__group
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-clock')
          span.heading-box__text= `${stadium.duration} days`
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-map-pin')
          span.heading-box__text= stadium.startLocation.description

  section.section-description
    .overview-box
      div
        .overview-box__group
          h2.heading-secondary.ma-bt-lg Quick facts

          - const date = stadium.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})
          +overviewBox('Next date', date, 'calendar')
          +overviewBox('Difficulty', stadium.difficulty, 'trending-up')
          +overviewBox('Participants', `${stadium.maxGroupSize} people`, 'user')
          +overviewBox('Rating', `${stadium.ratingsAverage} / 5`, 'star')

        .overview-box__group
          h2.heading-secondary.ma-bt-lg Your stadium guides

          each guide in stadium.guides
            .overview-box__detail
              img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)

              - if (guide.role === 'lead-guide')
                span.overview-box__label Lead guide
              - if (guide.role === 'guide')
                span.overview-box__label Stadium guide
              span.overview-box__text= guide.name

    .description-box
      h2.heading-secondary.ma-bt-lg= `About ${stadium.name} stadium`
      - const parapraphs = stadium.description.split('\n');
      each p in parapraphs
        p.description__text= p

  section.section-pictures
    each img, i in stadium.images
      .picture-box
        img.picture-box__img(src=`/img/stadiums/${img}`, alt=`The Park Camper Stadium ${i + 1}`, class=`picture-box__img--${i + 1}`)

  section.section-map
    #map(data-locations=`${JSON.stringify(stadium.locations)}`)

  section.section-reviews
    .reviews
      each review in stadium.reviews
        +reviewCard(review)

  section.section-cta
    .cta
      .cta__img.cta__img--logo
        img(src='/img/logo-white.png' alt='Nastadiums logo')
      img.cta__img.cta__img--1(src=`/img/stadiums/${stadium.images[1]}`, alt='Stadium picture')
      img.cta__img.cta__img--2(src=`/img/stadiums/${stadium.images[2]}`, alt='Stadium picture')
      .cta__content
        h2.heading-secondary What are you waiting for?
        p.cta__text= `${stadium.duration} days. 1 adventure. Infinite memories. Make it yours today!`
        button.btn.btn--pink.span-all-rows Book stadium now!